@import "variables";

.container {
    height: calc(100% - 100px);
}


.centering-position {
    margin-top: 10px;
    position: relative;
    width: auto;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-desc {
    font-size: $m-size;
    font-family: $family-slab;
    font-weight: $font-weight;
    color: $black;
}

#answer-row {
    margin-bottom: 0.8rem;
}
