<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbDefault" connectionString="Server=localhost;Port=5400;User Id=postgres;Password=niewiem123456789;"/>
		<add name="DbAphasia" connectionString="Server=localhost;Port=5400;Database=Aphasia;User Id=postgres;Password=niewiem123456789;" />
	</connectionStrings>
</configuration>