<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DbDefault" connectionString="Server=157.158.62.62;Port=5432;Database=marcopi308;User Id=marcopi308;Password=marcopi308;"/>
		<add name="DbAphasia" connectionString="Server=157.158.62.62;Port=5432;Database=marcopi308;User Id=marcopi308;Password=marcopi308;" />
	</connectionStrings>
</configuration>