@page "/yourPatients/createPatient"
@using Models.Enums

<div class="field-body" style="margin-top:50px; margin-bottom:60px;">
    <div class="card card-l border-0">
        <div class="text-card-title text-center">Stwórz użytkownika</div>
              <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="userName" class="form-label text-start"><b>Login użytkownika</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="userName" placeholder="Login" class="form-control" />
                    </div>
                </div>
              </div>
              <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="NewPassword" class="form-label text-start"><b>Hasło</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="NewPassword" placeholder="Hasło" class="form-control" />
                    </div>
                </div>
                </div>
               <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="NewPasswordRepeat" class="form-label text-start"><b>Powtórz Hasło</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <input id="NewPasswordRepeat" placeholder="Powtórz Hasło" class="form-control" />
                    </div>
                </div>
             </div>
            <div class="positioner">
                <ButtonModel Id="createPatient" ButtonTypes="ButtonTypes.ButtonSmLDarkResponvie"  Text="Stwórz"/>
            </div>
         </div>
     </div>


