<app-navbar></app-navbar>

<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    id="dropdownMenuButton1"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>
<div class="container">
  <div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
      <img
        class="mb-4"
        src="https://mdbootstrap.com/img/logo/mdb-transparent-250px.png"
        style="width: 250px; height: 90px"
      />
      <h5 class="mb-3">Thank you for using our product. We're glad you're with us.</h5>
      <p class="mb-3">MDB Team</p>
      <p>
        PS. We'll be releasing "How to build your first project with MDB 5 Angular" tutorial soon.
      </p>
      <a
      class="btn btn-primary btn-lg"
      href=" https://mdbootstrap.com/newsletter/"
      target="_blank"
      role="button"
      >Join now</a
      >
    </div>
  </div>
</div>
<app-footer></app-footer>