$blue: blue;
$base-light-background: #dbf4f6;
$base-dark-background: #055961;
$black: black;
$white: white;
$light-color: #f7f7f7;
$base-border: #d6d5d5;
$base-hover-dark: rgba(5, 89, 97, 0.15);
$base-activer-dark: rgba(5, 89, 97, 0.3);
$base-hover-s-dark: #067079;
$base-active-light: #7fb3b8;
$base-hover-light: #067079;
$base-yellow: #fdcc0d;
$base-task-background: #c1dee6;
$base-light-green: #d9f5e4;
$base-dark-green: #0e4e33;
$base-light-red: #f8d5cb;
$base-dark-red: #c30000;

$color-piano-border: #160801;
$color-piano-white-key-border: #bbb;
$color-piano-white-key-border-active-1: #777;
$color-piano-white-key-border-active-2: #999;
$gradient-piano: linear-gradient(10deg, #000000 0%, #414141 74%);
$gradient-piano-key-white: linear-gradient(to bottom, #eee 0%, #fff 100%);
$gradient-piano-key-white-active: linear-gradient(
  to bottom,
  #fff 0%,
  #e9e9e9 100%
);
$gradient-piano-key-black: linear-gradient(45deg, #222 0%, #555 100%);
$gradient-piano-key-black-active: linear-gradient(to right, #444 0%, #222 100%);
