$blue: blue;
$base-light-background: #dbf4f6;
$base-dark-background: #055961;
$black: black;
$white: white;
$light-color: #f7f7f7;
$base-border: #d6d5d5;
$base-hover-dark: rgba(5, 89, 97, 0.15);
$base-activer-dark: rgba(5, 89, 97, 0.3);
$base-hover-s-dark: #067079;
$base-active-light: #7fb3b8;
$base-hover-light: #067079;
$base-yellow: #fdcc0d;
$base-task-background: #c1dee6;
