/*dodawanie podstawowych elementow strony*/


@font-face {
    font-family: 'Roboto Slab';
    src: url('font/roboto-slab/RobotoSlab-VariableFont_wght.ttf');
}

.text-Card {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    word-wrap: break-word;
}

.text-TitleDark {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #055961;
}

.text-finish-title {
    
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
