@inherits LayoutComponentBase
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<TopNavBar></TopNavBar>
<div class="page">

    <div class="main">

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<AphasiaClientApp.Components.Footers.MainFooter></AphasiaClientApp.Components.Footers.MainFooter>