@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<TopNavBar></TopNavBar>
<div class="page">

    <div class="main">
            @Body
    </div>
</div>