.navbar-custom {
    background-color: #DBF4F6 !important;
}

ul.dropdown-menu {
    background-color: #DBF4F6 !important;
}

.tezt-title {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #055961;
}

.text-nav {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-right:100px;
    font-feature-settings: 'liga' off;
    color: #055961;
}

.text-drop {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: #000000;
}
