@using AphasiaClientApp.Utils.Js.Sounds
@using Models.Enums
@inject IJSRuntime JsRuntime
@inject ISoundService Sound

<div class="col d-flex justify-content-center">
    <div class="card text-center border-0">
        <div class="card-body text-center">
            <div class="text-title-exercise" style="margin-top:15px;margin-bottom:8px;">
                @TitleExercise
            </div>
            <div class="text-title-type-exercise" style="margin-bottom:10px;">
                @TypeTitleExercise
            </div>
            <div class="line">
                <NaviCardExercise IsVertical=true Title=""
                                  NaviType="NaviTypeImage.Sound"
                                  ClickCallback="()=>PlaySound(idCommandSound)" />
                @if (ShowHelper)
                {
                    <NaviCardExercise IsVertical=true Title=""
                                  NaviType="NaviTypeImage.Helper"
                                  ClickCallback="OnHelperClick" />
                }
            </div>

        </div>
    </div>

    <audio id=@idCommandSound src="@ListenCommandPatch" />
</div>
