<div class="col d-flex justify-content-center">
    <div class="card text-center border-0">
        <div class="card-body text-center">
            <div class="text-title-exercise" style="margin-top:15px;margin-bottom:8px;">
                @TitleExercise
            </div>
            <div class="text-title-type-exercise" style="margin-bottom:10px;">
                @TypeTitleExercise
            </div>
            <NaviCardExercise IsVertical=true Title="test" NaviType="Models.Enums.NaviTypeImage.Sound"/>
        </div>
    </div>
</div>
