@using AphasiaClientApp.Models.Enums

<div class="card">
    <div class="mini-circle">
        <div class="center">
            <div class="text-style">
                @CardId
            </div>
        </div>
    </div>
    <div class="center">
        <div class="circle">
            <div class="center">
                <img src="/resource/aphasiaType/mixedAphasiaType.svg" class="position-center" style="max-width:120px; max-height:120px;" alt="..." />
            </div>
        </div>
    </div>
    <div class="center">
        <div class="text-style">
            Title sadasdasd
        </div>
    </div>
    <p>

        <div class="text-style" style="margin-left:5px;">
            <ImageButtonModel ButtonCallback=ButtonCallback
                              ImageButtonType=ImageButtonTypes.ButtonFrame
                              TypeImage=NaviTypeImage.Settings
                              SetType=".ic-light-color" />

            @for (int i = 0; i < maxMark; i++)
            {
                <span style="@isFirstElement(i)" class="bi bi-star-fill @isChecked(i)"></span>
            }
        </div>
    </p>
</div>