 <div class="col d-flex justify-content-center">
        <div class="card text-center border-0" style="cursor:pointer;">
            <div class="card-body text-center">
                <div class="text-Card">@Title</div>
                <div class="circle-custom">
                    <div class="text-center">
                        <img src="@ImageUrl" class="image-centering" style="max-width:155px; max-height:155px;" alt="..." />
                    </div>
                </div>
            </div>
            <a onclick="@Navigate" class="stretched-link"></a>
        </div>
    </div>
