<div class="footer-m">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <img src="resource/footer/logo1.png" class="mx-auto d-block" width=133 height=55 alt="..." />
            </div>
            <div class="col">
                <img src="resource/footer/logo4.png" class="mx-auto d-block" width=58 height=55 alt="..." />
            </div>
            <div class="col">
                <img src="resource/footer/logo2.png" class="mx-auto d-block" width=178 height=55 alt="..." />
            </div>
            <div class="col">
                <img src="resource/footer/logo3.png" class="mx-auto d-block" width=118 height=42 alt="..." />
            </div>
        </div>
    </div>
</div>