<div class="cardFrame @SetResponsive(IsResponsive) @SetAction(Color) @SetBackgroundColors(Color) "
     style="@SetPointer "
     @onclick=@ClickCallback>
    <div class="text-formater">
        <b>@Text</b>
    </div>
</div>