@import "variables";

.cardFrame {
    box-sizing: border-box;
    border-radius: 24px;
    word-break: break-word;
    margin-left: 5px;
}

.state-size {
    width: 178px;
    min-height: 48px;
}

.auto-size {
    width: 100%;
    min-height: 48px;
}

.bcn {
    border: 2px solid $base-dark-background;
    background: $white;
}

.bcne {
    border: 2px dotted $base-dark-background;
    background: $white;
}

.bcg {
    border: 2px solid $base-dark-green;
    background: $base-light-green;
}

.bcr {
    border: 2px solid $base-dark-red;
    background: $base-light-red;
}

.bcl {
    border: 2px solid $base-dark-background;
    background: $base-light-background;
}

.bcle {
    border: 2px dotted $base-dark-background;
    background: $base-light-background;
}

.bcn-action:hover {
    background: $base-hover-dark;
}

.bcn-action:active {
    background: $base-activer-dark;
    border: 2px solid $base-dark-background;
    box-sizing: border-box;
    box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.bcn-action {
}

.text-formater {
    color: $black;
    font-family: $family-slab;
    font-style: normal;
    font-weight: 500;
    font-size: $m-size;
    line-height: $m-line-height;
    text-align: center;
    vertical-align: central;
    margin-top: 4px;
}
