@import "variables";

.cardFrame {
    width: 178px;
    min-height: 48px;
    box-sizing: border-box;
    border-radius: 24px;
    word-break: break-word;
    margin-left: 5px;
}

.bcn {
    border: 2px solid $base-dark-background;
    background: $white;
}

.bcg {
    border: 2px solid $base-dark-green;
    background: $base-light-green;
}

.bcr {
    border: 2px solid $base-dark-red;
    background: $base-light-red;
}

.text-formater {
    color: $black;
    font-family: $family-slab;
    font-style: normal;
    font-weight: 500;
    font-size: $m-size;
    line-height: $m-line-height;
    text-align: center;
    vertical-align: central;
    margin-top: 4px;
}
