@page "/"
<img src="resource/background/papuga.svg" class="img img-fluid" id="imageAsBackground" alt="Parot image" />
<AphasiaClientApp.Components.Buttons.ButtonModel ButtonTypes="Models.Enums.ButtonTypes.ButtonSmLDark" Text="Nie, wróć do ćwiczenia"/>
<AphasiaClientApp.Components.Buttons.ButtonModel ButtonTypes="Models.Enums.ButtonTypes.ButtonSmLDarkResponvie" Text="Nie, wróć do ćwiczenia" />
<div class="container container-md">
    <div class="row " style="margin-top:100px;">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="text-wrap">
                    <p id="title">
                        Darmowa  aplikacja
                        umożliwiająca rehabilitację afazji
                    </p>
                </div>
                <p style="margin-top:30px;"></p>
                <AphasiaClientApp.Components.Buttons.ButtonLgDark></AphasiaClientApp.Components.Buttons.ButtonLgDark>
                <p style="margin-top:73px;"></p>
                    <AphasiaClientApp.Components.Buttons.ButtonModel ButtonTypes="Models.Enums.ButtonTypes.ButtonLgLightResponsive"
                                                                     Text="Dla logopedów i opiekunów"/>
                </div>
            </div>
        </div>

    </div>









