@page "/"
<img src="resource/background/papuga.svg" class="img-fluid" id="imageAsBackground" alt="Parot image" />
<div class="container container-md">
    <div class="row " style="margin-top:100px;">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="text-wrap">
                    <p id="title">
                        Darmowa  aplikacja
                        umożliwiająca rehabilitację afazji
                    </p>
                </div>
                <AphasiaClientApp.Components.Buttons.ButtonLgDark></AphasiaClientApp.Components.Buttons.ButtonLgDark>
            </div>
        </div>

    </div>
</div>








