@import "variables";

.btn-ic {
    min-width: 48px;
    min-height: 48px;
    max-width: 48px;
    max-height: 48px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid $base-dark-background;
    padding: 3px;
}

.btn-nf {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  box-sizing: border-box;
  border: none;
  padding: 3px;
}

.ic-light {
  background: $white;
}
.ic-dark {
    background: #035961;
}

.ic-light-color {
  background: $base-light-background;
}

.ic-current {
  background: $base-light-background;
}

.btn-ic:hover {
  background: $base-hover-dark;
}

.btn-nf:hover {
  background: $base-hover-dark;
}

.btn-ic:active {
  background: $base-activer-dark;
  border: 2px solid $base-dark-background;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 5px rgba(0, 0, 0, 0.25);
}

.btn-nf:active {
  background: $base-activer-dark;
}
