
<button class="btn-ic @SetStyleButton()" @onclick=ButtonCallback type="button" Style="@SetStyle">
    <div class="text-center text-option" style="color:@SetTextColor();">
        @Value
    </div>
</button>