@page "/Exercise/FinishPage"
@inject NavigationManager UriHelper

<style>
    body {
        background-color: #055961;
    }

    .navbar {
        visibility: hidden;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="text-finish-title" style="margin-top:90px;">Brawo!</div>
            <div class="text-finish-title">Wykonałeś ten zestaw ćwiczeń.</div>

            <div class="field-button" style="margin-top:58px;">
                <ButtonModel Text="Zakończ" ButtonTypes="Models.Enums.ButtonTypes.ButtonHgWhiteResponsive" ButtonCallback="Finish_callback" />
            </div>

            <div class="field-button">
                <ButtonModel Text="Powtórz ten zestaw" ButtonTypes="Models.Enums.ButtonTypes.ButtonHgWhiteBorderResponsive" />
            </div>

            <div class="field-button">
                <ButtonModel Text="Wróć do ćwiczenia" ButtonTypes="Models.Enums.ButtonTypes.ButtonHgWhiteBorderResponsive" />
            </div>

        </div>
    </div>
</div>
