
.card-l {
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.15);
}

.text-card-title {
    font-family: $family-slab;
    font-style: normal;
    font-weight: bold;
    font-size: $h-size;
    line-height: $m-line-height;
    color: $base-dark-background;
}
