.modal-content {
    background-color: #DBF4F6;
}

.modal-header {
    justify-content: center !important;
    border-bottom:none !important;
}

.modal-title {
    text-align: center;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    font-feature-settings: 'liga' off;
    color: #055961;
}
