.navbar-brand {
    font-family: Roboto !important;
    font-style: normal !important;
    font-weight: 900 !important;
    font-size: 24px !important;
    line-height: 32px !important;
    color: #055961 !important;
}
/*
.navbar-nav {
    text-align: center !important;
}*/