@page "/results"

<h1>Statystyka Ogólna</h1>
<table>
  <tr>
    <th>Nazwa zestawu ćwiczeń	</th>
    <th>Liczba prób	</th>
    <th>Średnia poprawność
</th>
  </tr>



  <tr>
    <td>ZESTAW ĆWICZEŃ NARZĄDÓW MOWY	</td>
    <td>1</td>
    <td>100%</td>
  </tr>
  
  <tr>
    <td>GESTY: TAK NIE	</td>
    <td>3</td>
    <td>33%</td>
  </tr>

  <tr>
    <td>DŹWIĘKI OTOCZENIA	</td>
    <td>1</td>
    <td>0%</td>
  </tr>

  <tr>
    <td>ROZUMIENIE WYPOWIEDZI	</td>
    <td>5</td>
    <td>80%</td>
  </tr>

  <tr>
    <td>RZECZOWNIKI</td>
    <td>3</td>
    <td>66%</td>
  </tr>

  <tr>
    <td>KOLORY</td>
    <td>3</td>
    <td>100%</td>
  </tr>

  <tr>
    <td>BUDOWA ZDAŃ	</td>
    <td>5</td>
    <td>40%</td>
  </tr>

  <tr>
    <td>OKREŚLANIE CZYNNOŚCI	</td>
    <td>5</td>
    <td>80%</td>
  </tr>

  <tr>
    <td>ODNAJDYWANIE SŁÓW: DOBÓR RZECZOWNIKA	</td>
    <td>4</td>
    <td>50%</td>
  </tr>

  <tr>
    <td>ODNAJDYWANIE SŁÓW: DOBÓR CZASOWNIKA	</td>
    <td>3</td>
    <td>100%</td>
  </tr>



</table>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
</style>