@page "/management/mainPanel"
@using AphasiaClientApp.Models.Enums
@inject NavigationManager UriHelper
 <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="center-block demo-content"><AphasiaClientApp.Components.Buttons.ButtonLgDarkMainPanelPatients ButtonCallback="ButtonNavigateToYourPatientsPanels"/></div>
            </div>
          <div class="col-xl-6">
                <div class="center-block demo-content "><AphasiaClientApp.Components.Buttons.ButtonLgDarkMainPanelPersonal ButtonCallback="ButtonNavigateToYourDataChangePanel"/></div>
            </div>
        </div>
   </div>