@page "/yourPersonalDataPanel"
@using Models.Enums
@inject NavigationManager UriHelper

<div class="field-body" style="margin-top:50px; margin-bottom:60px;">
    <div class="card card-l border-0">
        <div class="text-card-title text-center">Edytuj Twoje Konto</div>
        <EditForm Model="@personalDataModel" OnValidSubmit="ExecutePersonalDataChange"> 
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="email" class="form-label text-start"><b>E-mail</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <InputText id="email" placeholder="Email" @bind-Value="personalDataModel.Email" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="role" class="form-label text-start"><b>Rola</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-ui-radios"></i>
                           <InputSelect placeholder="Wybierz role" @bind-Value="personalDataModel.Role" class="form-select" aria-label="Default select example">

                            @foreach (UserRegisterRoles item in Enum.GetValues(typeof(UserPersonalRoles)))
                            {
                                <option value="@item">@item</option>
                            }
                        </InputSelect>
                    </div>
                </div>

            </div>
             <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="phonenumber" class="form-label text-start"><b>Numer Telefonu</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <InputText id="phonenumber" placeholder="Numer Telefonu" @bind-Value="personalDataModel.PhoneNumber" class="form-control" />
                    </div>
                </div>
            </div>

              <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="street" class="form-label text-start"><b>Ulica</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <InputText id="street" placeholder="Ulica" @bind-Value="personalDataModel.Street" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="houseNbr" class="form-label text-start"><b>Numer Budynku</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <InputText id="houseNbr" placeholder="Numer Budynku" @bind-Value="personalDataModel.HouseNumber" class="form-control" />
                    </div>
                </div>
            </div>


             <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="postalCode" class="form-label text-start"><b>Kod Pocztowy</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <InputText id="postalCode" placeholder="Kod Pocztowy" @bind-Value="personalDataModel.PostalCode" class="form-control" />
                    </div>
                </div>
            </div>

             <div class="mb-3">
                <div class="form-group">
                    <div class="text-forms text-left-label">
                        <label for="city" class="form-label text-start"><b>Miasto</b></label>
                    </div>
                    <div class="inputbox">
                        <i class="bi bi-person-fill"></i>
                        <InputText id="city" placeholder="Miasto" @bind-Value="personalDataModel.City" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="positioner">
                <ButtonModel ButtonTypes="ButtonTypes.ButtonSmLDarkResponvie" EventType="ButtonEventType.Submit" Text="Zapisz" />
            </div>
         </EditForm>
           <div class="text-card-title text-center">Dodatkowe: </div>
         <div class="positioner">
           <ButtonModel ButtonTypes="ButtonTypes.ButtonSmLDarkPDChangePassword" Text="Zmien Hasło" ButtonCallback=ButtonNavigationToChangePassword/>
           <ButtonModel ButtonTypes="ButtonTypes.ButtonSmLDarkRemoveAccount" Text="Usun Konto"/>
         </div>
    </div>
</div>
