@page "/yourPatients"
@using Models.Enums
@inject NavigationManager UriHelper;
<div class="container">
    <AphasiaClientApp.Components.Banners.BannerPanel></AphasiaClientApp.Components.Banners.BannerPanel>


    <ul class="list-group">
            @for (int i = 0; i < patientModelList.Count; i++)
            {

            <li class="list-group-item">
                <div class="patientItemImage oneline">
           
                    <ImageButtonModel ImageButtonType=ImageButtonTypes.ButtonFrame TypeImage=NaviTypeImage.CheckCircle SetType="ic-light" />
                    <div class="patientItemText">@patientModelList[i].UserName</div>
                </div>
                <div class="patientItemActions text-right">
                    <ImageButtonModel ImageButtonType=ImageButtonTypes.ButtonRedirectPaitent SetPatientID="@patientModelList[i].Id.ToString()" TypeImage=NaviTypeImage.LeftNaviArrow SetType="ic-light" />
                    <ImageButtonModel ImageButtonType=ImageButtonTypes.ButtonFrame TypeImage=NaviTypeImage.Helper SetType="ic-light" />
                    <ImageButtonModel ImageButtonType=ImageButtonTypes.ButtonRedirectPaitentToDetails SetPatientID="@patientModelList[i].Id.ToString()" TypeImage=NaviTypeImage.Refresh SetType="ic-light" />
                    <ImageButtonModel ImageButtonType=ImageButtonTypes.ButtonRemovePatient TypeImage=NaviTypeImage.UncheckedBox SetType="ic-light" />
                </div>
            </li>
            }
        </ul>
</div>

